/* Setting up global styling */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #2980b9;
  color: #fff;
  margin: 0 auto;
  text-transform: uppercase;
}

.image-responsive {
  width: 400px;
  max-width: 100%;
  height: auto;
}

/* Navigation Container Styling */
header {
  font-family: "Poppins", sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 50px;
  margin-top: 70px;
  padding-left: 150px;
}

header button {
  border: none;
  padding: 14px 12px;
  border-radius: 40px;
  background-color: #e8b71a;
  color: #fff;
  font-weight: 600;
  margin-left: 40px;
  text-transform: uppercase;
}

nav .flex-container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  gap: 50px;
}

nav li a {
  text-decoration: none;
  color: #fff;
  font-weight: 600;
}

nav li {
  list-style: none;
}
